## mako

<%page expression_filter="h"/>

<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<%inherit file="../main.html"/>
<%namespace name='static' file='../static_content.html'/>
<%block name="title">
    <title>${_("Reset Your {platform_name} Password").format(platform_name=platform_name)}</title>
</%block>

<%block name="bodyextra">
    <script type="text/javascript" src="${STATIC_URL}js/student_account/password_reset.js"></script>
</%block>

<%block name="bodyclass">view-passwordreset</%block>

<%block name="body">
<link href="${static.url('firki/css/tfi_reset_password.css')}" rel="stylesheet">
<section class="passwordreset container tfi">
    <section role="main" class="content">
            <h2 class="mainHeading">
                ${_("Change Your Firki Password")}
            </h2>
            <header>
                <h2 class="sr">${_("Password Reset Form")}</h2>
            </header>

            % if validlink:
            <form role="form" id="passwordreset-form" method="post" action="">
                <fieldset class="group group-form group-form-requiredinformation">
                  <legend class="sr">${_("Required Information")}</legend>
                  <ol class="list-input">
                    <li class="field required password" id="field-new_password1">
                      <label for="new_password1">${_("Your New Password")}</label>
                      <input id="new_password1" type="password" name="new_password1" placeholder="*****"  required minlength="2"  data-errormessage-value-missing="Min password Length 2 "> 
                    </li>
                    <li class="field required password" id="field-new_password2">
                      <label for="new_password2">${_("Your New Password Again")}</label>
                      <input id="new_password2" type="password" name="new_password2" placeholder="*****">
                    </li>
                  </ol>
                </fieldset>

                <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">

                <div class="form-actions">
                    <button name="submit" type="submit" id="submit" class="action action-primary action-update">${_("Change My Password")}
                    </button>
                </div>
            </form>
            % else:
            <p>
                ${Text(_((
                    "The password reset link is invalid, possibly because the link has already been used."
                    "   Please return to the {start_link}login-page{end_link} and start the passwored reset progress again."
                    ))).format(
                        start_link=HTML('<a href="/login">'),
                        end_link=HTML('</a>'),
                    )
                }
            </p>
            % endif
    </section>
</section>
</%block>

