## mako

<%page expression_filter="h"/>

<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<%inherit file="../main.html"/>

<%block name="title">
    <title>${_("Your Password Reset is Complete")}</title>
</%block>

<%block name="bodyextra">
    <script type="text/javascript">
        $(function() {
            'use strict';
            // adding js class for styling with accessibility in mind
            $('body').addClass('js');
        });
    </script>
</%block>

<%block name="bodyclass">view-passwordreset</%block>

<%block name="body">
<section class="passwordreset container tfi-password-complete">
  <h2 class="mainHeading tfi-password-reset-complete">${_("Your Password Reset is Complete")}</h2>
    
    <section role="main" class="content">
      
      <p>${_("Your password has been set.  You may go ahead and ")}<a href="/login"><span class="color-skyblue">${_("log in")}</span></a>${_(" now.")}</p><p>
      
    </p></section>
    
  </section>
</%block>

