/* Links */
a {
  color: #494a4a;
  text-decoration: none;
}

a:focus, a:hover {
  color: #000;
  text-decoration: none;
}

a:focus {
  outline: none;
}

.s-header__buttons {
    width: 45%;
}

.s-header__buttons ul{
    display: inline-flex;
    list-style: none;
    float: right;
    margin-top: 0.75rem;
}

.s-header__buttons ul li{
    margin-right: 15px;
}

.s-header__logo {
    float: left;
    width: 47%;
}

.s-header__buttons ul li a.notification{
    width: 50px;
    height: 50px;
    border: 2px solid;
    padding: 10px 12px 10px 12px;
    border-radius: 38px;
}

.s-header__buttons ul li a.theme-btn.active{
    width: 50px;
    height: 50px;
    border: 2px solid;
    padding: 8px 15px 10px 15px;
    border-radius: 38px;
    color: #FFF;
    background-color: rgb(0, 181, 202);
}

.slider-btn{
    padding: 10px 25px 10px 25px;
    background: #fff;
    border-radius: 25px;
}

.g-color--gold{
    color: color: rgb(172, 133, 44);
}

.g-color--black{
    color: #000;
}

.g-bg-color--goldenrod{
    background-color:rgb(255, 210, 95)
}

.g-bg-color--mine-shaft{
    background-color:rgb(48, 48, 48);
}

.content-btn {
    padding: 10px 25px 10px 25px;
    color: #FFF;
    background-color: rgb(0, 181, 202);
    border-radius: 25px;
    border: 0px;
    display: inline-block;
}

.index-courses{
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(241, 242, 226);
}

/*.index-courses .s-team-v1{
    max-height: 417px;
    overflow: hidden;
}*/

.g-padding-t-25--xs, .g-padding-t-25--sm{
    padding-top: 1.5625rem;
}

.index-testimonials img{
    width: 108px;
    height: 108px;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

footer .social-icons a{
    border: 2px solid;
    padding: 8px 8px 8px 10px;
    border-radius: 51px;
    margin-right: 15px;
    color:#FFF;
    font-size: 24px;
}

footer .social-icons a:last-child{
    padding: 8px 12px 8px 10px;
}

footer .social-icons a:first-child{
    padding: 8px 8px 8px 10px;
}

footer .social-icons a:hover{
    color: #13b1cd;
   -moz-box-shadow:    inset 0 0 10px #13b1cd;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #13b1cd;
}

.green-circle{
    position: absolute;
    top: -12px;
    right: -10px;
    border: 0.11em solid #000;
    background: green;
    height: 9px;
    width: 9px;
    border-radius: 18px;
}

@media (max-width: 32em) {

    .s-header__buttons ul li:first-child, .s-header__buttons ul li:last-child{
        display: none;
    }

    .s-header__buttons{
        width: 40%;
    }

    header.navbar-fixed-top {
        background: transparent;
    }

    .s-header__logo {
        float: center;
        width: 44%;
    }

    .g-padding-y-20--smm {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }

    .g-padding-x-20--smm {
        text-align: center;
    }

    .s-header__buttons ul {
        display: -webkit-inline-box;
        padding-left: 0px;
        padding-right: 0px;
    }

    .s-header__buttons ul li{
        margin-right: 2px;
    }

    .s-header__buttons ul li a.theme-btn.active{
        width: 25px;
        height: 24px;
        border: 2px solid;
        padding: 6px 10px 6px 10px;
        border-radius: 38px;
        color: #FFF;
        background-color: rgb(0, 181, 202);
    }

    footer div.social-icons, footer div h4.g-text-center--sm{
        text-align: center;
        margin: 0px 84px;
    }

    .fill, .fill .g-media__body{
        padding-right: 1rem;
    }

    .index-courses .s-swiper .swiper-wrapper .swiper-slide:first-child{
        margin-left: -15px;
    }
    .index-courses .s-swiper .swiper-wrapper .swiper-slide{
        margin-right: 10px;
    }

    .g-margin-b-20--sm{
        margin-bottom: 1.25rem;
    }

    header.s-header__shrink{
        /*margin-top: 1.5rem;*/
        -webkit-backface-visibility: hidden;
    }

    .row{
        margin-right: 0px;
    }

}

footer{
    border-top: 1px  #CCC solid;
    box-shadow: 
        inset 0px 11px 8px -10px #CCC,
        inset 0px -11px 8px -10px #CCC; 
}

.tfi .dropbtn {
    color: white;
    cursor: pointer;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: normal;
}


.tfi .dropbtn a {
    text-decoration: none;
}


.tfi .dropbtn label {
    color: white;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: normal;
    font-style: normal;
    text-shadow: none;
}

.tfi .dropdown-new {
    position: relative;
    display: inline-block;
}

.tfi .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0px;
}

.tfi .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.tfi .dropdown-content a:hover {background-color: #f1f1f1}

.tfi .dropdown-new:hover .dropdown-content {
    display: block;
}

.s-header__buttons ul li a.theme-btn.active:hover{
    text-decoration: none;
}

@media screen and (max-width: 700px) {
    .s-header__logo a.theme-btn{
        width: 66px;
        height: 50px;
        padding: 12px 2px 0px 0px;
        color: rgb(47, 47, 47);
        text-decoration: none;
        float: left;
        margin-right: 0.75rem;
    }
}
.s-header__logo a.theme-btn{
    width: auto;
    height: 50px;
    padding: 12px 2px 0px 0px;
    color: rgb(47, 47, 47);
    text-decoration: none;
    float: left;
    margin-right: 0.75rem;
}

a#course_hover {
    color: #0f150f !important;
}

.s-header__logo a.theme-btn:hover{
    color: black;
}

.tfi-course-info-header {
    float: left;
    width: 75%;
    margin-top: 7px;
    margin-left: 11px;
    font-family: 'Lato-Regular' !important;
    font-size: 14px !important;
    box-shadow: none !important;
    color: #555;
}

/*.s-header__logo a.theme-btn:last-child{
    margin-left: 0.5rem;
}*/

.view-dashboard .dashboard .my-courses {
    margin-top: 0px;
    margin-bottom: 0px;
}

.course-item .course .course-title{
    margin-top: 25px;
}


.about-box{
    display: flex;
}

.about-box>div{
    align-items: stretch;
}

.index-row2-box .col-md-6, .index-row2-box .col-sm-6{
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}

.s-header__nav-menu a, .s-header__action--rb a{
    color: #FFF;
    text-decoration: none;
}

.tfi a{
    text-decoration: none !important;
    color: rgb(47, 47, 47);
}

.-is-open .-is-active .s-header__trigger-icon {
    background: #494a4a;
}

.s-header__trigger circle{
    stroke: rgb(47, 47, 47);
}

.js__swiper-clients .swiper-wrapper .swiper-slide>div>div>div{
    max-height: 291px;
    min-height: 291px;
    margin-bottom: 24px;
    overflow: hidden;
}

.js__swiper-clients .swiper-wrapper .swiper-slide{
    background: #FFF;
}

.content-wrapper.tfi-content-wrapper .course-info{
    margin-top: 55px;
}

.content-wrapper.tfi-content-wrapper>.s-swiper{
    margin-top: -55px;
}

.tfi .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 4rem;
}

.tfi .s-back-to-top{
    background-color: #13b1cd;
}

.navbar-fixed-top a{
    font-weight: bold;
}

.s-header__nav-menu-item a, .s-header__action a{
    color: #FFF;
}

.navbar-fixed-top .dropdown-content a{
    font-weight: normal;
}

.index-courses .swiper-slide img{
    max-height: 120px;
    min-height: 120px;
}
.s-swiper__arrow-v1--left, .s-swiper__arrow-v1--right{
    color: #FFF !important;
}

.tfi .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

.tfi .swiper-pagination-bullet-active {
    opacity: 1;
    background: #FFF;
}

.tfi .index-courses .swiper-pagination-bullet-active {
    opacity: 1;
    background: rgb(241, 91, 77);
}

.index-testimonials .js__swiper-btn--prev, .index-testimonials .js__swiper-btn--next{
    font-size: 48px;
    color: #979797 !important;
}

.go-to{
    cursor: pointer;
}

.tfi section.wiki .breadcrumb {
    list-style: none;
    padding-left: 0;
    margin: -22px 0 0 25px;
}

.tfi section.wiki .global-functions {
    display: block;
    width: auto;
    margin: -15px 0px 0px 19px;
}

.tfi section.wiki .nav-tabs > li {
    float: none;
    margin-bottom: -1px;
}