/* this css is applied to login form page of project.
*/

.content-wrapper.tfi-content-wrapper#content > .passwordreset.container.tfi {
    width: inherit;
}

.content-wrapper.tfi-content-wrapper#content > .passwordreset.container.tfi .content h2.mainHeading {
    line-height: normal;
    padding-top: 21px;
    color: #01b4ca;
    text-transform: capitalize;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-top: 17px;
    padding-bottom: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: url(../images/img-pattern-yellow.png) repeat;
}

.content-wrapper.tfi-content-wrapper#content > .passwordreset.container.tfi .content #passwordreset-form {
    margin-left: 95px;
    margin-top: 50px;
    margin-bottom: 60px;
}

.passwordreset.container.tfi .content #passwordreset-form .status.message {
    width: 430px;
    outline: none;
}

.passwordreset.container.tfi .content {
    margin-bottom: 144px;
    width: 620px;
    margin-top: 68px;
    margin-left: 215px;
    -webkit-box-shadow: 0px 2px 6.86px 0.14px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 2px 6.86px 0.14px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 2px 6.86px 0.14px rgba(0, 0, 0, 0.27);
    border-radius: 5px;
}

.passwordreset.container.tfi .content #passwordreset-form {
    margin-left: 95px;
    margin-top: 50px;
    margin-bottom: 52px;
}

.passwordreset.container.tfi .content #passwordreset-form .group.group-form.group-form-requiredinformation {
    padding-bottom: 0px;
}

.passwordreset.container.tfi .content #passwordreset-form .group.group-form.group-form-requiredinformation legend {
    width: auto;
}

.passwordreset.container.tfi .content #passwordreset-form .group.group-form.group-form-requiredinformation ol.list-input {
    margin: 0;
    padding: 0;
    list-style: none;
}

.passwordreset.container.tfi .content #passwordreset-form .group.group-form.group-form-requiredinformation ol.list-input li {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0px;
}

.passwordreset.container.tfi .content #passwordreset-form .group.group-form.group-form-requiredinformation ol.list-input li label {
    max-width: 430px;
    font-family: 'Lato-Black';
    font-weight: normal;
    color: #58595b;
    font-size: 14px;
    margin-bottom: 0px;
    text-transform: uppercase;
    margin-top: 21px;
}

.passwordreset.container.tfi .content #passwordreset-form .group.group-form.group-form-requiredinformation ol.list-input li:first-child label {
    margin-top: 0px;
}

.passwordreset.container.tfi .content #passwordreset-form .group.group-form.group-form-requiredinformation ol.list-input li input {
    max-width: 430px;
    font-family: 'Lato-Regular';
    color: #575757;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 45px;
    width: 430px;
    margin-top: 4px;
}

.passwordreset.container.tfi .content #passwordreset-form .group.group-form.group-form-requiredinformation ol.list-input li input:focus {
    box-shadow: none;
    border: 1px solid #01b4ca;
    outline: none;
}

.passwordreset.container.tfi .content #passwordreset-form .group.group-form.group-form-requiredinformation ol.list-input li input::-moz-placeholder {
    line-height: 35px;
}

.passwordreset.container.tfi .content #passwordreset-form .group.group-form.group-form-requiredinformation ol.list-input li input::-webkit-input-placeholder {
    line-height: 35px;
}

.passwordreset.container.tfi .content #passwordreset-form .group.group-form.group-form-requiredinformation ol.list-input li input:-ms-input-placeholder {
    line-height: 35px;
}

.content-wrapper.tfi-content-wrapper#content > .passwordreset.container.tfi .content #passwordreset-form .form-actions {
    max-width: 430px;
}

.content-wrapper.tfi-content-wrapper#content > .passwordreset.container.tfi .content #passwordreset-form .form-actions button {
    font-family: "Lato-Black";
    font-weight: normal !important;
    font-size: 18px;
    background-color: #01b4ca;
    color: #fff;
    border-radius: 5px;
    border-bottom: 3px solid #018696;
    height: 45px;
    width: 430px;
    outline: none;
    box-shadow: none;
    margin-top: 24px;
}

.content-wrapper.tfi-content-wrapper#content > .passwordreset.container.tfi .content #passwordreset-form .form-actions button:hover,
.content-wrapper.tfi-content-wrapper#content > .passwordreset.container.tfi .content #passwordreset-form .form-actions button:focus {
    outline: none;
    box-shadow: none;
    background: #01d9f4;
    -webkit-transition: all 0.1s linear 0s;
    -moz-transition: all 0.1s linear 0s;
    transition: all 0.1s linear 0s;
}

@media(max-width: 992px) {
    .passwordreset.container.tfi .content {
        margin: 120px auto 144px auto;
        float: none;
    }
}
