<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <p>Hello Team,</p>
            <p>We have received following message on firki.co from <i>{{ name }}</i> with email <i>{{ email }}</i> for help :</p>
            <hr/>
            <p><b>{{ description }}</b></p>
            <hr/>
            <br/>
            <p>
            Thanks,<br>Firki Edx Help Box
            </p>
        </div>
    </body>
</html>